.spoiler_button{
    margin: auto;
}

.container{
    display: flex;
    justify-content: space-evenly;
}

ol#upper-al{
    list-style-type: upper-alpha;
}
ol#lower-al{
    list-style-type: lower-alpha;
}
