body {
    background-image: url('https://ammunk.com/assets/img/utils/ubc.svg'), url('https://ammunk.com/assets/img/utils/plai.svg');
    background-size:
        20%,
        5%;
    background-repeat: no-repeat;
    background-position:
        98% 97%,
        2% 97%;
}

/*See https://css-tricks.com/snippets/css/complete-guide-grid/ https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container */
.container{
    display: flex;
    justify-content: space-evenly;
}
.col{
    margin: auto;
}
