.slides {
    background: url('https://ammunk.com/assets/img/utils/ubc-narrow.svg'), url('https://ammunk.com/assets/img/utils/plai.svg');
    background-size:
        28%,
        8%;
    background-repeat: no-repeat;
    background-position:
        98% 95%,
        23% 95%;
}
