body {
    background-image: url('https://ammunk.com/assets/img/utils/ubc.svg'), url('https://ammunk.com/assets/img/utils/plai.svg');
    background-size:
        25%,
        5%;
    background-repeat: no-repeat;
    background-position:
        98% 97%,
        2% 97%;
}
